.dashboard {
	text-align: center;
}

.dashboard-links {
	margin-top: 20px;
    justify-content: center;
    align-items: left;
	display: flex;
	flex-direction: column;
	gap: 30px;
    width: 50%;
}

.dashboard-link {
	display: inline-block;
	margin-right: 10px;
	padding: 5px 10px;
	background-color: #007bff;
	color: #fff;
	text-decoration: none;
	border-radius: 4px;
	transition: background-color 0.3s ease;
}

.dashboard-link:hover {
	background-color: #0056b3;
}
